@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Quicksand:wght@500&display=swap');

body{
    background: radial-gradiant(#e5e5e5, #ffffff, #e5e5e5)
}
.card{
    width: 20rem;
}

.card-2{
    width: 35rem;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.25) !important;
}

.card-body{
    padding: 3rem 0!important;
}

.card-text{
    font-size: .9rem;
    padding: .4rem 1.9rem;
    font-family: 'Quicksand', sans-serif;
}

.card-title{
    font-family: 'Montserrat', sans-serif;
}

.container-fluid{
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    background-color: #69a069;

}

.container-fluid .row{
    padding-top: 6rem;
}

.btn.btn-outline-success:hover{
    background-color: #69a069;

}

input{
    border-color: #69a069;
}

button{
    background-color: #69a069;
}

single-body{
    background-color:#69a069;
}
